.header {
    background: #fff;
    padding: 20px 0;
}
.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a h1 {
    color: #673ab7;
}
.navigate_menu {
    display: flex;
    align-items: center;
    gap: 20px;
}
.navigate_menu a{
    font-weight: 500;
    color: #000;
}
.navigate_menu .logout_btn{
    background: red;
}
.navigate_menu .login, .navigate_menu .order {
    padding: 10px 25px;
    border-radius: 40px;
}
.navigate_menu .login{
    background: #673ab7;
    color: #fff;
}
.navigate_menu .order{
    background: #000;
    color: #fff;
}