.banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 70px;
}
.banner_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 650px;
    width: 100%;
}
.banner_content h1 {
    font-size: 60px;
    color: #fff;
}
.banner_content p {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}


/* Media query */
@media screen and (max-width: 688px){
    .banner_content{
        text-align: center;
    }
    .banner_content h1{
        font-size: 2.5rem;
    }
    .banner_content p{
        font-size: 1.2rem;
    }
}